<div class="users-new-wrapper">
 <div class="container">
  <div class="row">
   <div class="col-md-offset-4 col-md-4 users-new-container">
     <%= form_for :session, url: login_path do |f| %>
     
       <%= f.label :email, class:'text-white'%>
       <%= f.email_field :email, class:'form-control' %>
     
       <%= f.label :password, class:'text-white' %>
       <%= f.password_field :password, class:'form-control' %>
   
       <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span class="text-white">Remember me on this computer</span>
       <% end %>
     
       <%= f.submit "Log in", class: 'btn btn-white btn-block' %>
       <% end %>
     
       <p class="text-white">new user? <%= link_to("Sign Up", "users/new") %> </p>
   </div>
  </div>
 </div>
</div>
