<div class="user-info">
  <% if @user.image.url %>
    <%= image_tag @user.image.url %>
  <% else %>
    <%= image_tag "default_user.jpeg" %>
  <% end %>
  <h2>
    <%= @user.name %>
  </h2>
  <p class="text-black">
    <%= link_to "edit", edit_user_path(id: @user.id) %>
  </p>
</div>
<div class="user-box-area">
  <% @plan_destinations.each do |plan_destination| %>
    <%= link_to plan_destination_path(id: plan_destination.id) do %>
      <%= image_tag plan_destination.image.url,size: '320x240' %>
    <% end %>
  <% end %>
</div>

  

