<div class="post-index-wrapper">
  <div class="container-fluid">
    <h1 class="text-center">Places</h1>
    <%= link_to new_record_destination_path(record_id: @record_id) do %>
      <p class="text-center">Register Place</p>
    <% end %>
    <div class="post-area">
    <% @record_destinations.each do |record_destination| %>
        <div class="post-index-single">
          <%= image_tag record_destination.image.url,size: '320x240' %>
          <h2 class="post-title">
            <%= record_destination.destination_title %>
          </h2>
          <h3 class="post-description">
            <%= record_destination.description %>
          </h3>
          <div class="link-area">
            <%= link_to("https://maps.google.co.jp/maps?q=#{record_destination.destination_title}") do %>
               <span class="fa fa-map-marker-alt"></span>
            <% end %>
            <%= link_to edit_record_destination_path(id: record_destination.id) do %>
              <span class="fa fa-edit"></span>
            <% end %>
            <%= link_to record_destination, method: :delete do %>
              <span class="fa fa-trash-alt"></span>
            <% end %>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>